<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mission to Mars!</title>
    <!-- Boostrap CDN CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- Boostrap CDN JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5 text-center">
              <h1 class="display-5 fw-bold">Mission to Mars</h1>
              <a href="/scrape" class="btn btn-primary btn-lg scrape-button">Scrape New Data</a>
            </div>
          </div>
    </div>

    <div class="container">
        <!-- Mars news/tagline scraped from https://redplanetscience.com/ -->
        <h2>Latest Mars News</h2>
        <h4>{{ display.latest_article_title }}</h4>
        <p>{{ display.latest_article_paragraph }}</p>
        <div class="row">
            <div class="col-md-6">
                <!-- Featured Mars image scraped from https://spaceimages-mars.com/ -->
                <h2>Featured Mars Image</h2>
                <img src="{{ display.featured_image_url }}" alt="Featured Mars Image">
            </div>
            <div class="col-md-6">
                <!-- Mars facts table scraped from https://galaxyfacts-mars.com/ -->
                <h2>Mars Facts</h2>
                {{ display.table_html_string|safe }}
            </div>

        </div>
        <!-- Mars full resolution images scraped from https://marshemispheres.com/ -->
        <h2 class="text-center">Mars Hemispheres</h2>
        <hr>
        <div class="row">
            <div class="col-md-3">
                <p>Placeholder for mars image 1 - incorporate loop</p>
            </div>
            <div class="col-md-3">
                <p>Placeholder for mars image 2 - incorporate loop</p>
            </div>
            <div class="col-md-3">
                <p>Placeholder for mars image 3 - incorporate loop</p>
            </div>
            <div class="col-md-3">
                <p>Placeholder for mars image 4 - incorporate loop</p>
            </div>
        </div>

    </div>

    
</body>
</html>